@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.container {
  margin: 0;
  padding: 0;
}
/* #nav {
  display: flex;
  justify-content: center;
  transition: all ease .5;
  width: 100%;
  top:0;
  padding: 20px 0 20px 0;
  background-color: #7EC1F1;
}
.opacityReduce {
  position: fixed;
  opacity: .7;
  transition: all ease .5;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  margin: 10px;
}

#nav a:hover {
  color: #ffffff;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.controlbutton {
  display: flex;
  justify-content: center;
}
.controlbutton button {
  margin: 10px 5px;
  padding: 10px;
  background: #D3F8FD;
  border-radius: 10px;
  border: none;
  opacity: .7
}
.controlbutton button:hover {
  opacity: 1;
} */


/* .footer {
  display: flex;
  justify-content: center;
  background-color: #96A9CA;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  opacity: .7;
}
.footer:hover {
  opacity: 1;
} */
